{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        <select name="genres" id="genres" class="form-control" multiple required>
          <option value="Rock" {% if 'Rock' in artist.genres.split(',') %}selected{% endif %}>Rock</option>
          <option value="Jazz" {% if 'Jazz' in artist.genres.split(',') %}selected{% endif %}>Jazz</option>
          <option value="Pop" {% if 'Pop' in artist.genres.split(',') %}selected{% endif %}>Pop</option>
          <option value="Classical" {% if 'Classical' in artist.genres.split(',') %}selected{% endif %}>Classical</option>
          <option value="Country" {% if 'Country' in artist.genres.split(',') %}selected{% endif %}>Country</option>
          <option value="Soul" {% if 'Soul' in artist.genres.split(',') %}selected{% endif %}>Soul</option>
        </select>      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
      
      <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="seeking_venue">Looking for Venues</label>
          <input type="checkbox" name="seeking_venue" id="seeking_venue" 
          {% if artist.lookingforVenue %}checked{% endif %}>      </div>

      <div class="form-group">
          <label for="seeking_description">Seeking Description</label>
          <input type="text" name="seeking_description" id="seeking_description" 
          value="{{ artist.seek if artist.seek else '' }}" 
          >       </div>
      
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
